* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: ;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            color: white;
        }

        /*  Bar */
        .navbar {
            background: linear-gradient(to bottom, #2c2c2c, #000000);
            padding: 15px 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .nav-link {
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            padding: 8px 20px;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease;
        }

        .nav-link:hover {
            border-bottom: 2px solid #333;
            color: #9b9b9b;
        }

        .nav-center {
            font-weight: bold;
            font-size: 18px;
        }

        .background {
            background-image: url(image/background.png);
            height: 750px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
        }

        /* User section */
        .user-section {
            background: color(black);
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 100px;
            height: 100px;
            background-image: url(image/logo.png);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .username {
            width: 250px;
            padding: 15px;
            background: color(black);
            text-align: center;
            font-weight: 300;
            font-size: xx-large;
        }

        /* Main Content */
        .general {
            padding: 40px 30px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .titreP {
            margin-top: 100px;
            text-align: center;
            margin-bottom: 40px;
        }

        .titre-box {
            display: inline-block;
            background: color(black);
            padding: 20px 80px;
            font-size: 50px;
            font-weight: bold;
        }

        /* Cartes */
        .carte-box {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            margin-bottom: 50px;
        }

        .carte {
            background: linear-gradient(to bottom, #2b2b2b, #2b2b2b);
            border: 2px solid #b9b9b9;
            width: 150px;
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: 100px;
        }

        /* contours2cartes */
        .carte:hover {
            transform: scale(1.08);
        }

        /* Musique */
        .musique-section {
            display: flex;
            gap: 30px;
            align-items: stretch;
        }

        /* Mettre à droite */

        .musiqueD {
            flex: 1;
        }

        /* Titre pour musique */
        
        .titreM{
            display: flex;
            align-items: center;
        }

form {
  /* Pour centrer le formulaire sur la page */
  margin-top: 300px;
  margin-left: 40%;
  width: 400px;

  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

div + div {
  margin-top: 1em;
}

label {
  /* On s'assure que tous les libellés ont la même taille
     et sont correctement alignés. */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* On s'assure que les champs texte ont la même police
     Par défaut, les zones de texte ont une police à chasse
     fixe. */
  font: 1em sans-serif;

  /* Taille uniforme pour des champs */
  width: 300px;
  box-sizing: border-box;

  /* On utilise la même bordure que pour le formulaire */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* On rajoute une mise en avant pour les éléments avec
     le focus. */
  border-color: #000;
}

textarea {
  /* On aligne les textes sur plusieurs lignes avec leur
     libellé. */
  vertical-align: top;

  /* On fournit un peut d'espace pour saisir du texte. */
  height: 5em;

  /* On permet de redimensionner verticalement. */
  resize: vertical;
}

.button {
  /* On aligne les boutons avec les champs texte. */
  padding-left: 90px; /* La même taille que les libellés */
}

button {
  /* Une marge supplémentaire représentant approximativement
     le même espace qu'entre les libellés et les champs. */
  margin-left: 0.5em;
}

        .logoC {
            width: 100px;
            height: 100px;
            background-image: url(image/logo.png);
            margin-left: 45%;
        }